<mat-toolbar color="accent">
  <div fxLayout="row" fxLayoutAlign="start center" [routerLink]="['/products']">
    <span class="app-title">Star Store</span>
    <mat-icon><i class="fa fa-star" aria-hidden="true"></i></mat-icon>
  </div>
  <div fxFlex></div>

  <button mat-raised-button color="danger" *ngIf="user" [routerLink]="['/product-create']">
    <i class="fa fa-plus-circle" aria-hidden="true"></i>
  </button>

  <span>{{user?.email}}</span>

  <button mat-raised-button color="accent" *ngIf="user" (click)="logout()">
    Logout
  </button>

  <button mat-raised-button color="danger" *ngIf="!user" [routerLink]="['/login']">
    <i class="fa fa-user" aria-hidden="true"></i>Login
  </button>

  <span class="cart" [routerLink]="['/cart']">
    <i class="fa fa-shopping-basket" aria-hidden="true"></i> {{amount$ | async}}
  </span>
</mat-toolbar>
