<div *ngIf="cart">
  <mat-card *ngFor="let item of cart | async" fxLayout="row">
    <mat-card-title fxFlex="60">{{item.title}}</mat-card-title>
    <a class="btn" fxFlex="5" (click)="reduceItem(item)"><i class="fa fa-minus" aria-hidden="true"></i></a>
    <mat-card-title fxFlex="5">{{item.amount}}</mat-card-title>
    <a class="btn" fxFlex="15" (click)="increaseItem(item)"><i class="fa fa-plus" aria-hidden="true"></i></a>
    <mat-card-title fxFlex="40">{{item.price | currency}}</mat-card-title>
    <a class="btn" fxFlex="5" (click)="removeItem(item)"><i class="fa fa-trash" aria-hidden="true"></i></a>
  </mat-card>
  <mat-card  fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button color="accent" [routerLink]="['/form']">NEXT</button>
    <button mat-button>Total: {{sum$ | async}}</button>
  </mat-card>
</div>
