<mat-input-container fxLayout='row' fxFlex="100">
  <input matInput placeholder="Search" #search>
</mat-input-container>
<mat-tab-group>
  <mat-tab *ngFor="let tab of products | async | category" label="{{tab}}">
    <mat-grid-list cols="3">
      <mat-grid-tile rowspan="1" colspan="1" *ngFor="let  product of products | async | sort: tab | search: search.value">
        <mat-grid-tile-header>{{product.title}}</mat-grid-tile-header>
        <img class="img"  mat-card-image [src]="product.photo">
        <mat-grid-tile-footer  fxLayout="row" fxLayoutAlign="space-between center">
          <button mat-raised-button color="accent" (click)="addProduct(product)">BUY</button>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
